:root {
  --primary-color: #a51d65;   /* your logo's magenta */
  --primary-color-dark: #87164f; /* darker magenta for hover */
  --secondary-color: #1db5c1;     /* your logo's teal */
  --secondary-color-dark: #15939b; /* darker shade for hover */
  --light-color: #ffffff;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus-visible {
  background-color: var(--primary-color-dark) !important;
  border-color: var(--primary-color-dark) !important;
  box-shadow: none !important;
  outline: none !important;
}

.nav-link:focus,
.dropdown-item:focus,
.nav-link:active,
.dropdown-item:active {
  color: var(--light-color) !important;
  background-color: var(--secondary-color) !important;
  box-shadow: none !important;
  outline: none !important;
}

.hero {
  background: url('images/homepage/hero.jpg') right center/cover no-repeat;
  position: relative;
  min-height: 70vh;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-text {
  position: relative;
  z-index: 1;
}

.hero.adults {
  background: url('images/courses-adults/millennial-asia-businessmen-businesswomen-having-conference-video-call-meeting-brainstorming-ideas-about-new-project-colleagues-working-together-planning-strategy-enjoy-teamwork-modern-office.jpg') right center/cover no-repeat;
}

.adults.hero::after {
  backdrop-filter: blur(1px); 
}

.hero.children {
  background: url('images/courses-children/children-hero.jpg') center bottom/cover no-repeat;
}

.magenta {
  color: var(--primary-color)
}

.teal {
  color: var(--secondary-color)
}

.bg-teal-light {
  background-color: #e6f7f8; /* very light teal tint */
}

.bg-magenta-light {
  background-color: #fbe7ef; /* very light magenta tint */
}


.testimonial-img {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
}

@media (max-width: 768px) {
  .testimonial-img {
    max-height: 150px;
  }
}

.email {
  text-decoration: none;
}

.email:hover {
  text-decoration: underline;
}